:root{
    --fz:15px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fz);
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}